.chatpage{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

.wrapper{
    flex:1;
    overflow-y:scroll;
    scrollbar-width: thin;
    scrollbar-color:#12101b transparent;
    width:100%;
    display:flex;
    justify-content:center;


    .chat{
        width:70%;
        display: flex;
        flex-direction: column;
        

        .message{
            padding: 20px;

            &.user{
                background-color: #2c2937;
                border-radius:20px ;
                max-width: 80%;
                align-self: flex-end;
                
            }
        }
    }
    }
}