
.rootlayout{
    padding: 16px 64px ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    

.header {
    display: flex;
    text-align: center;
    justify-content: space-between;

    .logo{
        display: flex;
        align-items: center;
        font-weight: bold;
        gap:8px;
        
    
     img{
        width:75px;
        height:75px;
        border-radius: 50%;
        object-fit: contain;
     }
    }
}
main{
    flex: 1;
    overflow: hidden;
}
}
